body,
html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #0E4D92;
}

a:visited {
  color: #2C4259;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#header {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  margin: 0;
  font-size: 1.8em;
  font-family: "Myriad Pro", Arial, sans-serif;
}

h1 a, h1 a:visited {
  text-decoration: none;
  color: #86AE57;
}

#main {
  float: left;
  width: 690px;
  padding: 10px;
}

h2 {
  margin: 0 0 1em;
  font-weight: normal;
  font-family: "Myriad Pro", Arial, sans-serif;
}

#footer {
  clear: both;
  padding: 5px 10px;
}

#footer p {
  margin: 0;
  font-size:12px;
}

* html #footer {
  height: 1px;
}

div.post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
}

p,ol,ul {
	color: #4a4a4a;
}

.post_footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  width: 100%;
}

.post_footer .previous {
  width: 25%;
  text-align: left;
  float: left;
}

.post_footer .share {
  width: 50%;
  text-align: center;
  float: left;
}

.post_footer .next {
  width: 25%;  
  text-align: right;
  float: left;
}

h2.post_title {
  margin-bottom: 5px;
}

h2.post_title a {
  text-decoration: none;
}

.post_date {
  color: gray;
  font-size: 12px;
}

#sidebar {
  float: right;
  width: 230px;
  margin: 0 0 0 20px;
}

#sidebar h2 {
  color: #7e7e7e;
  margin: 0 0 10px 0;
  font-size: 1.25em;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0 0 6px 0;
	padding: 0;
}

#about {
  margin-bottom: 20px;
}

#links,
#recent {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

img {
	border: 0 none;
}

#links img {
  vertical-align: middle;
  border: 0;
}