{% include post_header.html %}
{{ content }}

<div class="post_footer">
  <div class="previous">
    {% if post.previous %}
    &laquo; <a href="{{ post.previous.url }}">{{ post.previous.title }}</a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  
  <div class="share">
    &nbsp;
    <span class="st_email"></span>
    <span class="st_twitter"></span>
    <span class="st_reddit"></span>
    <span class="st_digg"></span>
    <span class="st_facebook"></span>    
    <span class="st_sharethis" displayText="More"></span>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'2ff55e0e-01bf-4285-8b64-be210ffadc8d'});</script>
    &nbsp;
  </div>
  
  <div class="next">
    {% if post.next %}
    <a href="{{ post.next.url }}">{{ post.next.title }}</a> &raquo;
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  
  <div style="clear:both"></div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://slingshotdev.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=slingshotdev">comments powered by Disqus.</a></noscript>