{% include post_header.html %}
{{ content }}

<div class="post_nav">
  {% if post.previous %}
  <div class="previous">
    &laquo; <a href="{{ post.previous.url }}">{{ post.previous.title }}</a>
  </div>
  {% endif %}
  {% if post.next %}
  <div class="next">
    <a href="{{ post.next.url }}">{{ post.next.title }}</a> &raquo;
  </div>
  {% endif %}
  <div style="clear:both"></div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://slingshotdev.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=slingshotdev">comments powered by Disqus.</a></noscript>
