<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd"> 
<html lang="en"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<link rel="stylesheet" type="text/css" href="{{ site.root }}/css/stylesheet.css" charset="utf-8">
	<title>Slingshot Developer Blog{% if page.title %}: {{ page.title }}{% endif %}</title>
	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1693225-1']);
    _gaq.push(['_setDomainName', '.slingshotsoftware.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head> 
<body> 
<div id="wrapper"> 
	<div id="header">
	  <h1><a href="/"><img src="{{ site.root }}/images/slingshot_logo.png" />Developer Blog</a></h1>
	</div> 
	<div id="main">
	  {% if page.id %}
	    {% assign post = page %}
	    {% include post.html %}
	  {% else %}
	    {{ content }}
	  {% endif %}
	</div> 
	<div id="sidebar">
	  <div id="about">
	    <h2>About</h2>
	    This is the official developer blog for <a href="http://www.slingshotsoftware.com/">Slingshot Software</a>, purveyor of fine ERP systems.
	  </div>
	  
	  <div id="links">
  		<a href="http://www.twitter.com/SlingshotDevel">
  		  <img src="{{ site.root}}/images/icons/twitter-24x24.png" alt="SlingshotDevel on Twitter" />
  		</a>
      <a href="http://github.com/slingshot">
        <img src="{{ site.root}}/images/icons/github-24x24.png" alt="GitHub" />
      </a>
      <a href="http://www.facebook.com/pages/Slingshot-Software/55450841818">
        <img src="{{ site.root}}/images/icons/facebook-24x24.png" alt="Facebook" />
      </a>
      <a href="http://www.linkedin.com/companies/slingshot-software">
        <img src="{{ site.root}}/images/icons/linkedin-24x24.png" alt="LinkedIn" style="vertical-align:middle;border:0" />
      </a>
      <a href="mailto:dev@slingshotsoftware.com">
        <img src="{{ site.root}}/images/icons/email-24x24.png" alt="Email" />
      </a>      
      <a href="http://feeds.feedburner.com/SlingshotDeveloperBlog" rel="alternate" type="application/rss+xml">
        <img src="{{ site.root}}/images/icons/feed-24x24.png" alt="RSS Feed" />
      </a>
    </div>
	  
	  <div id="recent">
  		<h2>Recent Posts</h2> 
  		<ul> 
  		  {% for post in site.posts limit:5 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        <li>
          <a href="{{ site.root }}/archives">More &raquo;</a>
        </li>        
  		</ul>
	  </div>	  
	  
    <div id="search">
	    <form action="http://www.google.com/cse" id="cse-search-box">
        <div>
          <input type="hidden" name="cx" value="007242192299498301915:tzpx9qtbncg" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="25" />
          <input type="submit" name="sa" value="Search" />
        </div>
      </form>
	  </div>
	</div> 
	<div id="footer"> 
		<p>&copy; {{ site.time | date: "%Y"}} <a href="http://www.slingshotsoftware.com/">Slingshot Software</a></p> 
	</div>
</div>
<script type="text/javascript">
var disqus_shortname = 'slingshotdev';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/slingshotdev/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<!-- Start of HubSpot Logging Code  -->
<script type="text/javascript" language="javascript">
var hs_portalid=72297; 
var hs_salog_version = "2.00";
var hs_ppa = "slingshotsoftware.app7.hubspot.com";
document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End of HubSpot Logging Code -->
</body> 
</html>